/* font-family: 'Permanent Marker', cursive; */

.container_inscription {
  color: antiquewhite;
  width: 60vw;
  text-align: center;
}

.container_inscription form {
  display: flex;
  flex-direction: column;
  border: 3px double #4ab45a;
  margin: 5px;
  padding: 5px;
}

.container_inscription form label {
  display: flex;
  flex-direction: column;
}

.container_inscription form label input {
  border: 1px solid #4ab45a;
  border-radius: 5px;
  margin: 5px;
  background-color: antiquewhite;
}

.container_inscription button {
  font-size: 18px;
  background-color: antiquewhite;
  border: 1px solid #4ab45a;
  box-shadow: inset 0 0 0 0 #4ab45a;
  transition: 0.8s;
}

.container_inscription button:hover {
  box-shadow: inset 0 0 10px 17px #4ab45a;
}

.anim {
  text-align: center;
  padding: 5px;
  font-family: "Permanent Marker", cursive;
  font-weight: lighter;
  font-size: 18px;
  animation: clignote 2s infinite;
}

@keyframes clignote {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
}

@media screen and (max-width: 767px) {
  .container_inscription {
    width: 80vw;
    text-align: center;
  }
}
